@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900'); @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');



/* ----- General settings */
body
{
    font-family: 'Poppins', sans-serif;
    text-align: center;
    line-height:40px;
    display: grid;

}

/* ----- Text settings */
h2
{
    font-weight: bold;
    font-size:20px;
    margin-top: 10px;
}

p
{
    margin-top: 20px;
}
/* ----- small screen settings */

@media (max-width: 410px)
{
    body
    {
        background-color: red;
        font-size: 20px;
        grid-template-columns: repeat(1, 1fr);
    }

}

/* ----- notepad settings */

@media (min-width: 410px) and (max-width: 768px)
{
    body
    {

        background-color: green;
        font-size: 25px;
        grid-template-columns: repeat(2, 1fr);

    }



}

/* ----- large screen settings */

@media (min-width: 768px)
{
    body
    {

        background-color: blue;
        font-size: 30px;
        grid-template-columns: repeat(3, 1fr);
    }
}


